html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /* Set full height */
    overflow: hidden;
    /* Optional: Prevents scrolling if content overflows */
}

.container {
    display: flex;
    /* Enable flexbox layout */
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    position: relative;
    /* For absolute positioning of children */
}

.text-input {
    position: absolute;
    /* Absolute positioning */
    width: 50%;
    /* Half of the container, adjust as needed */
    height: 100%;
    /* Full height */
    left: 0;
    /* Align left */
}

.image-container {
    flex-grow: 1;
    /* Take remaining space */
    height: 100%;
    /* Full height */
}

#pdfViewer {
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
}


#editor {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}